@model Lab.MVC.Models.ShippersView
@{
    ViewBag.Title = "Shippers Insert And Update";
}
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ShippersID)
    <label> CompanyName</label>
    @Html.TextBoxFor(s => s.CompanyName, new { @class = "form-control" })
    @Html.ValidationMessageFor(s => s.CompanyName)
    <hr />
    <label> Phone</label>
    @Html.TextBoxFor(s => s.Phone, new { @class = "form-control" })
    @Html.ValidationMessageFor(s => s.Phone)
    <hr />
    <input type="submit" class="btn btn-sucess" value="GUARDAR" />
}




